Package: com.joemerlino.breadcrumbarrow
Name: BreadCrumbArrow
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Removes breadcrumbs text and keeps cellular data.
Maintainer: Joe Merlino
Author: Joe Merlino
Section: Tweaks
Version: 0.0.1-3
Installed-Size: 256
